body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 36px;
    color: #333;
}

.select-label {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

.button-index {
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    margin: 20px auto;
    cursor: pointer;
    outline: none;
}

.button-index:hover {
    background-color: #0056b3;
}
