<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" href="/style_index.css">
</head>
<body>
<div class="main-container">
    <h1>Главная страница</h1>
    <div class="select-label">Выберите:</div>
    <form action="/redirect-to-calculator" method="get">
        <button class="button button-index" type="submit">Calculator</button>
    </form>
    <form action="/redirect-to-converter" method="get">
        <button class="button button-index" type="submit">Сurrency converter</button>
    </form>
</div>
</body>
</html>
